.listUl {
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style: none;
  margin-top: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  overflow: auto;
}
.contactListTitle {
  color: rgb(109, 109, 255);
  padding-bottom: 40px;
  padding-left: 15px;
  margin-top: 20px;
  border-bottom: none;
}
